<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!--<add key="LITDBConnection" value="Data Source=DB01;initial catalog=LoveIrishTourTest;user id=Loveirishtestuser;password=Loveirishtestuser;TrustServerCertificate=True;"/>-->
    <add key="LITDBConnection" value="Data Source=DB01;initial catalog=LoveIrishTour;user id=Loveirishtouruser;password=uxQl1mh1NZM4;TrustServerCertificate=True;"/>
    <!--<add key="LITDBConnection" value="Data Source=DB01;initial catalog=LoveIrishTourTest_10102023;user id=Loveirishtestuser;password=Loveirishtestuser;TrustServerCertificate=True;"/>-->
    <add key="LogfilePath" value="J:\LIT Project\LIT\LIT\apperror.log"/>
    <!--<add key="LITDBConnection" value="Data Source=DEVSQL.ERS.IE,57291;initial catalog=LoveIrishTourTest;user id=Loveirishtestuser;password=LoveIr#$h;TrustServerCertificate=True;"/>-->

  </appSettings>
</configuration>